.performance {
   &-title {
      font-weight: 600;
      font-size: 20px;
      letter-spacing: -0.02em;
      color: #ADB3CC;
   }

   &-top {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .date {
         display: flex;
         align-items: center;
         gap: 10px;

         p {
            font-size: 10px;
            line-height: 12px;
            text-transform: uppercase;
            color: #55597D;
         }
      }
   }

   &-subtitle {
      font-size: 14px;
      line-height: 17px;
      letter-spacing: -0.02em;
      color: #585F80;
   }

   &-cards {
      display: flex;
      gap: 20px;
      height: fit-content;
      margin-top: 30px;

      .card {
         width: 318px;
         height: 197px;
         background: #1A1E30;
         border-radius: 12px;
         padding: 24px;
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         transition: all 0.2s;

         &.active {
            background: #0329E8;
         }

         &:hover {
            background: #0329E8;
         }

         .top-part,
         .bottom-part {
            display: flex;
            align-items: center;
            justify-content: space-between;

            h3 {
               font-weight: 400;
               font-size: 20px;
               letter-spacing: -0.02em;
               color: #DDEFFA;
            }
         }

         .main-number {
            font-weight: 600;
            font-size: 58px;
            letter-spacing: -0.02em;
            color: #DDEFFA;
         }

         .bottom-part {
            h3 {
               font-weight: 400;
               font-size: 16px;
               letter-spacing: -0.02em;
               color: #EFFFF7;
            }
         }
         
         &:nth-child(2) {
            .bottom-part {
               h3 {
                  color: #00DE73;
               }
            }
         }

         &:nth-child(3) {
            .bottom-part {
               h3 {
                  color: #F21010;
               }
            }
         }
      }

   }
}