.referring {
   width: 100%;
   height: fit-content;

   &-title {
      font-weight: 600;
      font-size: 20px;
      letter-spacing: -0.02em;
      color: #ADB3CC;
   }

   &-subtitle {
      font-size: 14px;
      line-height: 17px;
      letter-spacing: -0.02em;
      color: #585F80;
   }

   .table {
      width: 100%;
      margin-top: 30px;
      border-collapse: collapse;



      thead {
         td {
            padding: 5px 20px;
            font-size: 16px;
            letter-spacing: -0.02em;
            color: #55597D;
         }
      }


      .tbody {

         tr {
            border-bottom: 1px solid #55597D;
            transition: all 0.2s;

            td {
               padding: 7px 20px;
               font-size: 16px;
               letter-spacing: -0.02em;
               color: #ADB3CC;

               &:nth-child(3) {
                  color: #0931F5;
               }
            }

            &:hover {
               background: #0329E8;

               td {
                  &:nth-child(3) {
                     color: #ADB3CC;
                  }
               }
            }
         }


      }

   }
}