.navbar {
   width: 250px;
   height: 100%;
   overflow: auto;
   background: #171b2d;
   border-right: 1.5px solid #262835;
   padding: 30px 0;
   user-select: none;

   .logo-part {
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
   }

   .menus-part {
      display: flex;
      flex-direction: column;
      gap: 25px;
      padding: 0 20px;
      padding-top: 20px;

      .menus-part-title {
         font-weight: 400;
         font-size: 10px;
         line-height: 12px;
         color: #55597D;
         text-align: left;
         text-transform: uppercase;
      }

      .menu {
         display: flex;
         align-items: center;
         gap: 20px;
         color: #ADB3CC;
         cursor: pointer;
         transition: all 0.2s;
         font-size: 14px;

         svg {
            color: red;
         }

         &:hover {
            color: #42BBFF;
         }

         .new,
         .notif {
            padding: 3px 6px;
            font-size: 13px;
            line-height: 16px;
            letter-spacing: -0.04em;
            color: #42BBFF;
            background: #0C3247;
            border-radius: 26px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            margin-left: auto;
         }

         .notif {
            background: #BF3931;
            color: #fff;
         }

         .none {
            display: none;
         }
      }

      .menu:nth-child(2) {
         color: #42BBFF;
      }

   }

}

.navbar::-webkit-scrollbar {
   width: 5px;
   border-radius: 10px;
   background-color: inherit;

}

.navbar::-webkit-scrollbar-thumb {
   border-radius: 10px;
   background-color: #ADB3CC;
   border: 0;
}